#about header {
  position: relative;
  padding: 6rem var(--container) 4rem var(--container);
  overflow: hidden;
}

/* NAVBAR */
#about .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem var(--container);
}

#about .navbar .logo {
  height: 2rem;
}

#about .navbar .logo {
  z-index: 101;
}

#about label[for='nav-toggle'] {
  z-index: 101;
}

#about input[name='nav-toggle'] {
  display: none;
}

#about .nav-menu {
  display: none;
}

#about input[name='nav-toggle']:checked ~ .nav-menu {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-dark);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 6rem 0 3rem 0;
}

#about .navbar nav li {
  font-size: var(--font-lg);
}

#about .navbar nav li:not(:last-child) {
  margin-bottom: 1.5rem;
  color: var(--light);
}

#about .navbar nav .cta {
  color: var(--light);
  padding: 0.6rem 1.5rem 0.9rem 1.5rem;
  border: 2px solid var(--light);
  border-radius: 50px;
}

/* BANNER */
.main-title {
  font-size: var(--font-2xl);
  margin-bottom: 1rem;
}

.main-p {
  position: relative;
  padding: 2rem 0;

  font-size: var(--font-lg);
  line-height: 1.9;
}

.main-p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 4px;
  background-color: var(--secondary);
}

#about header .bg-pattern {
  position: absolute;
  z-index: 0;

  /* mobile */
  width: 10rem;
  bottom: -5rem;
  right: -5rem;
}

/* TEAM */
#team {
  position: relative;
  background-color: #014047;
  padding: 4rem var(--container);
}

.section-title {
  font-size: var(--font-xl);
  color: var(--light);
  text-align: center;
  margin-bottom: 2rem;
}

#team .cards {
  display: flex;

  /* mobile */
  flex-direction: column;
  align-items: center;
}

#team .card {
  position: relative;
  background-color: var(--primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 20rem;
  max-width: 30rem;
  padding: 1.5rem 0 3rem 0;
  margin-bottom: 3.5rem;
}

.card__avatar {
  position: relative;
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid var(--light);
  margin-bottom: 1rem;
}

.card__name {
  font-size: var(--font-lg);
  color: var(--primary-lighter);
}

.card__role {
  font-size: var(--font-base);
}

.card__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  bottom: -1.5rem;
  background-color: var(--secondary);
  border: none;
  border-radius: 100%;
}
