/* GENERAL */
html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-base);
  font-family: var(--ff-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*=============
Typography 
=============*/

/*=============
Layout
=============*/
