/* GENERAL */
html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-base);
  font-family: var(--ff-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*=============
Typography 
=============*/
.center-title h1,
.center-title p {
  text-align: center;
}
/*=============
Layout
=============*/
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 var(--container);
}

.container-flex {
  display: flex;
  /* margin: 20px 20px; */
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: var(--primary);
  position: relative;
}

.header-image {
  background-image: url('../../images/bg-pattern-home-2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  justify-content: space-between;
  height: 100px;
}