:root {
  /* COLORS */
  --primary-ligth: #7dc3c5;
  --primary: #014e58;
  --primary-dark: #002528;

  --secondary: #f67e7f;

  --white: #fff;
  --black: #000;

  --gray-light: #bbbbbb;
  --gray: #6c757d;
  --gray-dark: #343a40;

  --light: #f8f9fa;
  --dark: #212529;

  /* FONTS */
  --ff-title: 'Livvic', sans-serif;
  --ff-body: 'Livvic', sans-serif;

  /* FONT SIZES */
  --font-xs: 0.7rem;
  --font-sm: 1.4rem;
  --font-base: 2.1rem;
  --font-lg: 2.8rem;
  --font-xl: 3.5rem;
  --font-2xl: 4.2rem;
  --font-display: 4.9rem;

  /* SPACING */
  --container: 8%;

  /* BREAKPOINTS */
  --media-sm: 36rem;
  --media-md: 48rem;
  --media-lg: 62rem;
  --media-xl: 80rem;
}
