@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
  /* COLORS */
  --primary-lighter: #aef1f3;
  --primary-ligth: #7dc3c5;
  --primary: #014e58;
  --primary-dark: #002528;

  --secondary: #f67e7f;

  --white: #fff;
  --black: #000;

  --gray-light: #bbbbbb;
  --gray: #6c757d;
  --gray-dark: #343a40;

  --light: #f8f9fa;
  --dark: #212529;

  /* FONTS */
  --ff-title: 'Livvic', sans-serif;
  --ff-body: 'Livvic', sans-serif;

  /* FONT SIZES */
  --font-xs: 0.6rem;
  --font-sm: 0.8rem;
  --font-base: 1rem;
  --font-lg: 1.2rem;
  --font-xl: 2rem;
  --font-2xl: 3.5rem;
  --font-3xl: 4rem;
  --font-display: 8rem;

  /* SPACING */
  --container: 8%;

  /* BREAKPOINTS */
  --media-sm: 36rem;
  --media-md: 48rem;
  --media-lg: 62rem;
  --media-xl: 80rem;
}
